//LOAD FONTS
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');

//creating variables
$background:  #EEE8D6;
$text-color:  #022933; 
$darkblue:    #001e25;
$red:         #D14348; //red;
// $links: black;
$blue:        #0076A3;
$green:       #548C27;
$purple:      #6D73C2;
$orange:      #F39856;
$yellow:      #FFBA00; //rgb(233,207,62);//yellow;
$font-body: 'Hepta Slab'; //need '' if space btwn words
$font-headings: Oswald, helvetica, sans-serif; //create a list

// COLORS for MEDIA
$color-item-border: $red;
$color-media-head: $blue;